@use '../../../../assets/scss/variables' as *;
@use '../../../../assets/scss/mixins' as *;

.stats-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.stats-card__grid {
  display: flex;
  flex-direction: column;
  gap: 0;

  @include respond-to-max('sm') {
    gap: 0;
  }
}
