.section-header__title {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin: 0 0 $space-1;
}

.section-header__subtitle {
  font-size: $font-size-xs;
  color: var(--color-text-secondary);
  margin: 0;
}

.section-header--plain {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 58px;
}

.section-header--plain .section-header__title {
  font-size: 22px;
  font-weight: $font-weight-semibold;
  margin: 0;
}

.section-header--plain .section-header__subtitle {
  font-size: 14px;
}
